<a href="https://colab.research.google.com/github/bhartik04/IMDB-sentiment-analysis/blob/main/VADER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 5.1 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [2]:
#pip install vaderSentiment
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from collections import Counter

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [3]:
import nltk
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
pd.options.mode.chained_assignment = None

In [9]:
df=pd.read_csv("/content/drive/MyDrive/Bitcoin_tweets.csv", on_bad_lines='skip')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,5,6,7,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
len(df)

1767998

In [11]:
df=df.dropna()

In [ ]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,Miguel Padilla NO FINANCIAL ADVICE,"Los Angeles, CA",#SafePal host #Bitcoin #ETH #BNB #BSV #CumRock...,2017-08-01,747,67,11446,false,2022-01-22,"@finequalityrugs I can't see a big drop, nor a...","['Bitcoin', 'CumRocket']",Twitter for Android,False
1,Miguel Padilla NO FINANCIAL ADVICE,"Los Angeles, CA",#SafePal host #Bitcoin #ETH #BNB #BSV #CumRock...,2017-08-01,747,67,11446,false,2022-01-22,"@martim_rob I can't see a big drop, nor a dip,...","['Bitcoin', 'CumRocket']",Twitter for Android,False
2,alinustorvalt,SkyLine,Boy scout\n\n#BSC\n#NEAR\n#Lunatics\n#SOL\n#CR...,2020-06-24,116,2234,4538,false,2022-01-22,@DigiFinex @NEARProtocol It's a big project \n...,"['NEARProtocol', 'DigiFinex', 'crypto', 'Bitco...",Twitter for Android,False
5,Rixx: Trading Assistant,Def City,Rixx is a free-to-use cryptocurrency market an...,2018-05-19,220,57,3,false,2022-01-22,4 hour top movers report #blockchain #crypto #...,"['blockchain', 'crypto', 'cryptocurrency', 'kr...",Rixx,False
6,Miguel Padilla NO FINANCIAL ADVICE,"Los Angeles, CA",#SafePal host #Bitcoin #ETH #BNB #BSV #CumRock...,2017-08-01,747,67,11446,false,2022-01-22,"@RexrodeRuth I can't see a big drop, nor a dip...","['Bitcoin', 'CumRocket']",Twitter for Android,False

In [ ]:
len(df)

708621

In [13]:
df.dtypes

user_name           object
user_location       object
user_description    object
user_created        object
user_followers      object
user_friends        object
user_favourites     object
user_verified       object
date                object
text                object
hashtags            object
source              object
is_retweet          object
dtype: object

In [15]:
df.user_name=df.user_name.astype(str)
df.user_location=df.user_location.astype(str)
df.user_followers=df.user_followers.astype(float)
df.user_favourites=df.user_favourites.astype(float)
df.text=df.text.astype(str)
df.date=df.date.astype(np.datetime64)

In [16]:
df.user_followers.describe()

count    1.767998e+06
mean     1.319735e+04
std      1.362247e+05
min      0.000000e+00
25%      1.090000e+02
50%      4.440000e+02
75%      2.415000e+03
max      2.413135e+07
Name: user_followers, dtype: float64

In [17]:
df=df[df.user_followers>=2.26e+03]

In [18]:
len(df)

458566

In [19]:
df.date

0         2021-02-10 23:59:04
9         2021-02-10 23:52:08
18        2021-02-10 23:47:13
23        2021-02-10 23:45:03
26        2021-02-10 23:44:02
                  ...
3680462   2022-06-17 05:14:23
3680467   2022-06-17 05:14:05
3680484   2022-06-17 05:13:19
3680500   2022-06-17 05:12:10
3680503   2022-06-17 05:12:01
Name: date, Length: 458566, dtype: datetime64[ns]

In [20]:
analyser=SentimentIntensityAnalyzer()

In [21]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [22]:
sw=stopwords.words('english')
scorelist=[]

In [43]:
tweets=df.text;

In [44]:
neglist=[]
poslist=[]
comlist=[]
neulist=[]

import re
for i in range(len(tweets)):

  r=re.findall("(?::|;|=)(?:-)?(?:\)|\(|D|P)",tweets.iloc[i])
  x=tweets.iloc[i]
  x=re.sub(r"(@[^A-Za-z0-9!]+)|[^\w\s] |#|http\S+","",x)
  x=re.sub(r"[^a-zA-Z!]"," ",x)
  x=word_tokenize(x)
  x=[word for word in x if not word in sw]
  x=x+r
  x=" ".join(x)
  score=analyser.polarity_scores(x)
  neglist.append(score["neg"])
  poslist.append(score["pos"])
  comlist.append(score["compound"])
  neulist.append(score["neu"])
  #print(list(score.values()))

In [48]:
df["neutral"]=neulist
df["pos"]=poslist
df["neg"]=neglist
df["compound"]=comlist

In [49]:
def fin(row):
  if row.compound>0.4:
    return 1
  elif row.compound<-0.4:
    return -1
  else:
    return 0

In [50]:
df["final"]=df.apply(lambda row:fin(row),axis=1)

In [52]:
dfprint=df[["text","neutral","pos","neg","compound","final"]]

In [58]:
pd.set_option('display.max_colwidth', None)
dfprint[dfprint.final==1].head()

,text,neutral,pos,neg,compound,final
85,Big news from MasterCard. They are working to support #crypto ! 💥 Guess what’s going to happen to the price of… https://t.co/1J1SoGqCgs,0.769,0.231,0.0,0.4019,1
122,Nice spot results on #ontology $ont - 32% profit and #iota $iota - 51% profit after a month waiting for the movemen… https://t.co/K3VeGxtGpj,0.511,0.489,0.0,0.8225,1
145,"#Bitcoin #BTC current price (GBP): £32,587\nLike my updates? you can tip me at 3L9dzTLQRcxNpN89V6gfNrbaz95UQ5VMrZ",0.658,0.342,0.0,0.7378,1
217,"#RSRBTC hit the third target, 127 sats.🚀🚀🚀\n\n19 % profit in the bag already.💰💰💰\n\n#rsr #rsrbtc #rsrusdt $rsr #btc￼… https://t.co/yR34eLC7bI",0.805,0.195,0.0,0.4404,1
262,faucet free #bitcoin \nevery 10 minutes\n\nyou can buy faucet box #BTC or #Ethereum and earn $100 every hour… https://t.co/P86YcUZz8C,0.784,0.216,0.0,0.5106,1

In [61]:
pd.set_option('display.max_colwidth', None)
dfprint[dfprint.final==0].head()

,text,neutral,pos,neg,compound,final
0,Blue Ridge Bank shares halted by NYSE after #bitcoin ATM announcement https://t.co/xaaZmaJKiV @MyBlueRidgeBank… https://t.co/sgBxMkP1SI,0.804,0.196,0.00,0.296,0
9,.@Tesla’s #bitcoin investment is revolutionary for #crypto but other firms may not do the same just yet - @JPMorgan… https://t.co/WyKWfh0ELw,1.000,0.000,0.00,0.000,0
18,#Bitcoin institutional demand accelerates in 2021 says @Grayscale CEO https://t.co/HsbFlBwAL8 #BTC $BTC #crypto #cryptocurrency $GBTC,0.880,0.000,0.12,-0.128,0
23,#Bitcoin’s Rally Signals the Rise of Digital Assets. This Bank Is Ahead of the Game. \n\nhttps://t.co/rfnDfm1Rjm via… https://t.co/YglNnC1LVn,1.000,0.000,0.00,0.000,0
26,"After @Tesla: @Twitter considers adding #bitcoin to its balance sheet, says company’s CFO https://t.co/WSFoxdU6du… https://t.co/FivKtnO42w",1.000,0.000,0.00,0.000,0

In [62]:
pd.set_option('display.max_colwidth', None)
dfprint[dfprint.final==-1].head()

,text,neutral,pos,neg,compound,final
81,"Forget #Dogecoin. #Bitcoin is still available to us poorer folks! Up to $200 per hour free, no catch, notta zilch!… https://t.co/wbC9k4eYUD",0.701,0.000,0.299,-0.5707,-1
125,https://t.co/zdsqyF1dxf #Ethereum killers and layer-2 tokens rally despite 5% #Bitcoin price drop… https://t.co/fU7GLhyE3c,0.534,0.138,0.328,-0.5402,-1
136,#ethereum killers and layer-2 tokens rally despite 5% #bitcoin price drop #crypto #btc https://t.co/w64UGYzDOB,0.595,0.120,0.285,-0.5402,-1
279,SIGN UP FOR #AUTOFAUCET !!\n\n- NO WITHDRAWAL MINIMUM !\n- Claim daily #Crypto !\n- Tasks &amp; mining !… https://t.co/amz82FGgKg,0.761,0.000,0.239,-0.5730,-1
573,Nigerian #Bitcoin Traders Flock to P2P Exchanges Following Ban \n\nBY: Ogwu Osaemezu Emmanuel… https://t.co/ehKuNsBUHg,0.753,0.000,0.247,-0.5574,-1